* {
  margin: 2px;
}

body {
font-size: 24px;
color: white;

display: flex;
flex-direction: column;
}

.flex-header {
  background-color: blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  font-size: 20px;
  align-content: center;
}

.first-column {
  background-color: orange;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;
}

.random-info {
background-color: #c50d66;
padding: 2rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-around;
height: 250px;

}

.quote {
background-color: blueviolet;
padding: 4rem;
text-align: center;
display: flex;
height: 75px;
font-style: italic;
font-weight: lighter;

}

.call-to-action {
background-color: lightblue;
padding-top: 3rem;
}

.flex-footer {
  background-color: lightcoral;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.link-one {
  margin-left: auto;

  padding-left: 20px;
  padding-right: 20px;
}
.link-two {

  padding-left: 20px;
  padding-right: 20px;
}
.link-three {

  padding-left: 20px;
  padding-right: 20px;
}
.header-logo {
  font-size: 27px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.paragraph-1 {
  font-weight: bold;
  font-size: 48px;
  width: 350px
}
.paragraph-2 {
  width: 300px;
  font-size: 20px;
  margin-top: 10px;
}
.button-1 {
  width: 100px;
  margin-top: 10px;
}
.image-1 {
  border: 2px solid black;
  width: 500px;
  height: 200px;
}
.info {
  width: 1100px;
  text-align: center;
  font-size: 27px;
}
.image-one {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.image-two {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.image-three {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.image-four {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.textbox-1 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.textbox-2 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.textbox-3 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.textbox-4 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
