* {
  margin: 0px;
}
body {
font-size: 24px;
color: white;

display: flex;
flex-direction: column;
}

.flex-header {
  background-color: #38598b;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  font-size: 20px;
  align-content: center;
  margin-bottom: 2px;

}

.first-column {
  background-color: #38598b;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  flex-direction: column;
  justify-content: right;
  flex-wrap: wrap;
}

.random-info {
background-color: #a2a8d3;
padding: 2rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-around;
height: 250px;

}

.quote {
background-color: #e7eaf6;
padding: 4rem;
text-align: center;
display: flex;
height: 75px;
font-style: italic;
font-weight: lighter;
color: #113f67;
}

.call-to-action {
background-color: #a7bcb9;
height: 100px;
display: flex;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
padding: 40px;
margin: 6rem;
border-radius: 10px;
justify-content: baseline;

}

.flex-footer {
  background-color: #5c5470;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 15px;

}

.link-one {
  margin-left: auto;

  padding-left: 20px;
  padding-right: 20px;
}
.link-two {

  padding-left: 20px;
  padding-right: 20px;
}
.link-three {

  padding-left: 20px;
  padding-right: 20px;
}
.header-logo {
  font-size: 27px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.paragraph-1 {
  font-weight: bold;
  font-size: 48px;
  width: 350px
}
.paragraph-2 {
  width: 300px;
  font-size: 20px;
  margin-top: 10px;
}
.button-1 {
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #38598b;
  color: white;
}
.image-1 {
  border: 2px solid black;
  width: 500px;
  height: 200px;
}
.info {
  width: 1100px;
  text-align: center;
  font-size: 27px;
  padding-bottom: 3px;
}
.image-one {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.image-two {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.image-three {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.image-four {
  border: 2px solid black;
  width: 250px;
  height: 150px;
}
.textbox-1 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.textbox-2 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.textbox-3 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.textbox-4 {
  width: 250px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.button-2 {
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #a7bcb9;
  color: white;

}
.title {
  padding-top: 5px;
  width: 300px;
  margin: 3px;
  font-size: 27px;
}
.title-2 {
  width: 500px;
  margin: 5px;
  font-size: 20px;
  padding-top: 7px;
}
