* {
  margin: 2px;
}

body {
font-size: 24px;
color: white;
height: 100vh;
text-align: center;
display: flex;
flex-direction: column;
}

.flex-header {
  background-color: blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  font-size: 20px;
  align-content: center;
}

.first-column {
  background-color: orange;
  padding-top: 3rem;
}

.random-info {
background-color: aqua;
padding-top: 3rem;
}

.quote {
background-color: blueviolet;
padding-top: 3rem;
}

.call-to-action {
background-color: lightblue;
padding-top: 3rem;
}

.flex-footer {
  background-color: lightcoral;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.link-one {
  margin-left: auto;

  padding-left: 20px;
  padding-right: 20px;
}
.link-two {

  padding-left: 20px;
  padding-right: 20px;
}
.link-three {

  padding-left: 20px;
  padding-right: 20px;
}
.header-logo {
  font-size: 27px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
